<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <script src="/node_modules/web-component-tester/browser.js"></script>
    <script src="/dist/js/app.js"></script>
  </head>

  <body>

    <test-fixture id="component">
      <template>
        <photo-loader></photo-loader>
      </template>
    </test-fixture>

    <script>
      suite('<photo-loader>', () => {
        let component;

        setup(() => {
          component = fixture('component');
        });

        test('default Properties', (done) => {
          assert.isUndefined(component.show);

          flush(() => {
            const loader = component.querySelector('.loader');
            const img = component.querySelector('img');

            assert.isNotNull(loader);
            assert.isNotNull(img);
            assert.isTrue(img.src.includes('/assets/images/loader.svg'));
            assert.equal(img.alt, 'loader');

            done();
          });
        });

        test('set show', (done) => {
          component.show = true;

          flush(() => {
            assert.isTrue(component.hasAttribute('show'));

            done();
          });
        });
      });
    </script>

  </body>
</html>
