<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <script src="/node_modules/web-component-tester/browser.js"></script>
    <script src="/dist/js/app.js"></script>
  </head>

  <body>

    <test-fixture id="component">
      <template>
        <photo-alert></photo-alert>
      </template>
    </test-fixture>

    <script>
      suite('<photo-alert>', () => {
        let component;

        setup(() => {
          component = fixture('component');
        });

        test('default Properties', (done) => {
          assert.isUndefined(component.message);

          flush(() => {
            const alert = component.querySelector('.alert');

            assert.isNotNull(alert);

            done();
          });
        });

        test('set message', (done) => {
          component.message = 'test message';

          flush(() => {
            assert.equal(component.message, 'test message');

            done();
          });
        });
      });
    </script>

  </body>
</html>
