<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <script src="/node_modules/web-component-tester/browser.js"></script>
    <script src="/dist/js/app.js"></script>
  </head>

  <body>

    <test-fixture id="component">
      <template>
        <photo-gallery></photo-gallery>
      </template>
    </test-fixture>

    <script>
      suite('<photo-gallery>', () => {
        let component;

        setup(() => {
          component = fixture('component');
        });

        test('default Properties', (done) => {
          assert.isUndefined(component.photo);
          assert.isUndefined(component.after);
          assert.isFalse(component.loading);

          flush(() => {
            const photoThumbs = component.querySelector('.photo-thumbs');

            assert.isNotNull(photoThumbs);

            done();
          });
        });

        test('set photo', (done) => {
          component.photo = 'food';

          flush(() => {
            assert.equal(component.getAttribute('photo'), 'food');

            done();
          });
        });
      });
    </script>

  </body>
</html>
